<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_zone_beauty_nails"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_zone_beauty_nails"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZoneBeautyNails"
        tools:targetApi="31">
        <activity
            android:name=".ui.menu.TransaksiActivity"
            android:exported="false"
            android:label="@string/title_activity_transaksi"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.ReferensiMotifActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.PemesananActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.PriceListActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.PaketUsahaActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.StockWarnaActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.WarnaActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.menu.ContinueActivity"
            android:exported="false"
            android:label="@string/title_activity_continue"
            android:theme="@style/Theme.ZoneBeautyNails">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ZoneBeautyNails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>